@import "../../styles/partials/resets";
@import "../../styles/partials/variables";
@import "../../styles/partials/breakpoints";
@import "../../styles/partials/fonts";

.project {
  padding: 0 0 24px 0;
  &__heading {
    background-color: white;
    text-align: center;
    font-family: "RobotoBold";
    font-size: 56px;
    padding-bottom: 30px;
    @include mobile {
      margin-bottom: 22px;
      font-size: 40px;
    }
    @include tablet {
      margin-bottom: 24px;
      font-size: 48px;
    }
  }
  &__container {
    margin: 50px auto 0;
    padding: 0 24px;
    box-sizing: border-box;
  }
  &__individual {
    display: flex;
    justify-content: space-evenly;
  }
  &__individual:nth-last-child(odd) {
    flex-direction: row;
    text-align: center;
    align-items: center;
    @include mobile{
      flex-direction: column-reverse;
      text-align: left;
      margin-bottom: 30px;
    }
  }
  &__individual:nth-last-child(even) {
    flex-direction: row-reverse;
    text-align: center;
    align-items: center;
    @include mobile{
      flex-direction: column-reverse;
      text-align: left;
      margin-bottom: 70px;
    }
  }
  &__info {
    width: 45%;
    padding: 0 40px;
    transition: all 0.3s ease 0s;
    @include mobile {
      width: 100%;
    }
    @include tablet {
      width: 100%;
    }
    &--heading {
      margin-bottom: 16px;
      font-size: 40px;
      color: black;
      font-family: "RobotoBold";
      @include tablet {
        margin-top: 64px;
      }
    }
    &--subheading {
      color: black;
      line-height: 24px;
      margin-bottom: 16px;
      font-size: 16px; 
      font-family: "RobotoMedium";
      @include mobile {
        font-size: 16px;
        line-height: 20px;
        padding: 0 8px;
      }
      @include tablet {
        line-height: 24px;
        padding: 0 16px;
      }
    }
    &--tech {
      font-family: "RobotoRegular";
      color: #f61c52;
      @include mobile {
        padding: 0 8px;
      }
    }
    &__links {
      display: flex;
      justify-content: center;
      @include mobile{
        justify-content: left;
      }
    }
    &__button {
      font-family: "RobotoRegular";
      margin-top: 16px;
      width: 120px;
      outline: none;
      border: none;
      height: 40px;
      border-radius: 5px;
      border: 1px solid white;
      box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.4);
      font-size: 20px;
      text-align: center;
      cursor: pointer;
      @include mobile {
        width: 100px;
        height: 40px;
        font-size: 12px;
      }
      &--red {
        color: white;
        background-color: #f61c52;
        margin-right: 16px;
        @include mobile {
          margin-right: 4px;
        }
      }
      &--disabled {
        opacity: 0.8;
        cursor: not-allowed;
      }
    }
  }
  &__images {
    width: 45%;
    height: auto;
    display: flex;
    justify-content: center;
    padding:60px 40px;
    background-color:rgb(241, 241, 241);
    @include mobile {
      width: 50%;
      max-width: 500px;
      padding: 0px;
      background-color: transparent;
      
    }
    @include tablet {
      width: 30%;
    }
    &--slider {
      width: 400px;
      height: auto;
      box-sizing: border-box;
      // @include mobile {
      //   height: 250px;
      // }
      // @include tablet {
      //   height: 450px;
      // }
    }
  }
}

.slick-prev:before,
.slick-next:before {
  color: black;
  opacity: 0.8 !important;
  display: none;
}

.carousel{
  box-sizing: border-box;
  width: 400px;
}