@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  src: url("../../assets/fonts/RobotoSlab/static/RobotoSlab-Regular.ttf");
}

@font-face {
  font-family: "RobotoMedium";
  font-style: normal;
  font-weight: 600;
  src: url("../../assets/fonts/RobotoSlab/static/RobotoSlab-Medium.ttf");
}

@font-face {
  font-family: "RobotoBold";
  font-style: normal;
  font-weight: 800;
  src: url("../../assets/fonts/RobotoSlab/static/RobotoSlab-Bold.ttf");
}

