@import "../../styles/partials/resets";
@import "../../styles/partials/variables";
@import "../../styles/partials/breakpoints";
@import "../../styles/partials/fonts";

.main__about {
  padding: 24px 16px;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 150px;
  @include mobile {
    padding: 16px;
    flex-direction: column;
    justify-content: start;
    height: max-content;
    margin-top: 70px;
  }
  &__container {
    margin: auto 0;
    width: 40%;
    font-family: "RobotoBold";
    @include mobile {
      width: 100%;
      margin: 0;
    }
  }
  &--heading {
    text-align: center;
    font-size: 50px;
    margin-bottom: 15px;
    font-family: "RobotoBold";
    @include mobile {
      font-size: 32px;
    }
  }
  &--subheading {
    font-size: 24px;
    line-height: 36px;
    font-family: "RobotoMedium";
    @include mobile {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 100px;
    }
  }
}

.wrap {
  width: 300px;
  margin: auto 0;
  padding-bottom: 150px;
  @include mobile {
    width: 230px;
    margin: 0 auto 300px;
    padding: 0;
  
  }
  &__cube {
    transform-style: preserve-3d;
    animation: cubeRotation 10s infinite linear;
  }
}
.cube {
  background-color: rgba(255, 255, 255, 0.4);
  width: 290px;
  height: 300px;
  position: absolute;
  overflow: hidden;
  @include mobile {
    width: 230px;
  }
  &__img {
    display: flex;
    justify-content: center;
    // align-content: center;
    margin: auto;
    //    padding-top: 50px;
    width: 180px;
    height: 180px;
    @include mobile {
      width: 170px;
    }
  }
  &__front {
    transform: translateZ(9rem);
    @include mobile {
      transform: translateZ(7rem);
    }
  }
  &__right {
    transform: rotateY(-90deg) translateZ(9rem);
    @include mobile {
      transform: rotateY(-90deg) translateZ(7rem);
    }
  }
  &__left {
    transform: rotateY(90deg) translateZ(9rem);
    @include mobile {
      transform: rotateY(90deg) translateZ(7rem);
    }
  }
  &__back {
    transform: translateZ(-9rem) rotateY(180deg);
    @include mobile {
      transform: rotateY(180deg) translateZ(7rem);
    }
  }
}

@keyframes cubeRotation {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}
