@import "../../styles/partials/variables";
@import "../../styles/partials/breakpoints";
@import "../../styles/partials/fonts";
@import "../../styles/partials/resets";

.header{
    height: 70px;
    position: fixed;
    width: 100%;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: space-evenly;
    z-index: 4;
    align-items: center;
    color: white;
    @include mobile{
        height: 50px;  
        justify-content: space-between;
        background-color: transparent;
        position: relative;
    }
    &__name{
        display: flex;
        justify-content: center;
    }
    &__logo{
        @include mobile{
            margin-left: 22px;
        }
    }
    &__nav{
        display: flex;
        width: 50%;
        justify-content: space-evenly;
        @include mobile{
            display: none;
        }
        &--link{
            font-size: 20px;
            color: white;
            cursor: pointer;
            &:hover{
                color:lightcoral
            }
        }
    }
    &__hamburger{
        margin-right: 24px;
        color: white;
        @include tablet{
            display: none;
        }
        @include desktop{
            display: none;
        }
    }
}

