@import "../../styles/partials/variables";
@import "../../styles/partials/breakpoints";

.header{
    height: 100px;
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    z-index: 2;
    align-items: center;
    color: white;
    &__name{
        display: flex;
        width: 30%;
        justify-content: center;
    }
    &__nav{
        display: flex;
        width: 50%;
        justify-content: space-evenly;
        @include mobile{
            display: none;
        }
        &--link{
            color: white;
        }
    }
    &__hamburger{
        @include tablet{
            display: none;
        }
    }
}

