@import "../../styles/partials/resets";
@import "../../styles/partials/variables";
@import "../../styles/partials/breakpoints";
@import "../../styles/partials/fonts";

.main {
  position: relative;
  top: 90vh;
  width: 100%;
  @include mobile{
    top: 450px;
    
  }
}

